<ion-tabs color="light">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Musician" tabIcon="musical-notes"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Teachers" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Students" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="My profile" tabIcon="contact"></ion-tab>
</ion-tabs>
