page-home {
    .selector{
        border : 1px solid #ffffff;
        color: #ffffff;
        font-weight: bold;
        max-width: 100% !important;
        padding: 4px;
        //float: right;
    }

    .banner{
        max-width: 100% !important;
        //border : 1px solid #ffffff;
    }
    
    .card-background-page {
        ion-slides {
            //background-color: whitesmoke;
            text-align: center;  
            height: auto;
        }
        ion-card {
            position: relative;
            text-align: left;
        }
        .card-title {
            position: absolute;
            bottom: 0px;
            //top: 36%;
            font-size: 1.0em;
            width: 100%;
            color: #fff;
            padding-left: 3px;
        }

        h3{
            font-size: 1.0em;
            //border : 1px solid #000000;
            margin-top: 0px;
            margin-bottom: 0px;
        }   

        .item-avatar  {     
            //border : 1px solid #000000;
            padding-left: 5px;
            background: none;
        }

        .card-title-avatar {
            top: 36%;
            font-size: 0.5em;
            width: 100%;
            font-weight: bold;
            color: #000000;
        }
        .card-subtitle-avatar {
            font-size: 0.5em;
            top: 52%;
            width: 100%;
            color: #000000;
        }

    }

}
