<!-- <ion-header>
  <ion-navbar>
    <ion-title class="title">Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content  class="bg-style card-background-page">

  <ion-slides [slidesPerView]="1" class="banner" pager="true">
    <ion-slide>
        <img src="http://placehold.it/400x180/33ccff/ffffff" alt="">
    </ion-slide>
    <ion-slide>
      <img src="http://placehold.it/400x180/ff0000/ffffff" alt="">
    </ion-slide>
    <ion-slide>
      <img src="http://placehold.it/400x180/ffcc33/ffffff" alt="">
    </ion-slide>
    <ion-slide>
      <img src="http://placehold.it/400x180/336699/ffffff" alt="">
    </ion-slide>
  </ion-slides>


<ion-grid>
  <ion-row>
    <ion-col><h3>Recent Clip</h3></ion-col>
    <!-- <ion-col>
      <ion-select interface="popover" class="selector" placeholder="CATEGORIES" id="category"  [(ngModel)]="genre" text-center>
          <ion-option text-center value="all">All</ion-option>
        <ion-option text-center value="piano">Piano</ion-option>
        <ion-option text-center value="drum">Drum</ion-option>
        <ion-option text-center value="saxophone">Saxophone</ion-option>
        <ion-option text-center value="vocal">Vocal</ion-option>
      </ion-select>
    </ion-col> -->
  </ion-row>
</ion-grid>


<ion-slides [slidesPerView]="2">
  <ion-slide>
    <ion-card>
      <img src="../../assets/img/card-saopaolo.png"/>
      <div class="card-title">Metallica - Orion</div>
      <!-- <div class="card-subtitle-recent">41 Listings</div> -->
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <img src="../../assets/img/card-amsterdam.png"/>
      <div class="card-title">Amsterdam</div>
      <!-- <div class="card-subtitle-recent">64 Listings</div> -->
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <img src="../../assets/img/card-sf.png"/>
      <div class="card-title">San Francisco</div>
      <!-- <div class="card-subtitle-recent">72 Listings</div> -->
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <img src="../../assets/img/card-madison.png"/>
      <div class="card-title">Madison</div>
      <!-- <div class="card-subtitle-recent">28 Listings</div> -->
    </ion-card>
  </ion-slide>
</ion-slides>

<ion-grid>
    <ion-row>
      <ion-col><h3>Popular Clip</h3></ion-col>
    </ion-row>
</ion-grid>

<ion-slides [slidesPerView]="2">
    <ion-slide>
      <ion-card>
        <img src="../../assets/img/card-sf.png"/>
        <div class="card-title">San Francisco</div>

      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../assets/img/card-madison.png"/>
        <div class="card-title">Madison</div>

      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../assets/img/card-saopaolo.png"/>
        <div class="card-title">São Paulo</div>

      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../assets/img/card-amsterdam.png"/>
        <div class="card-title">Amsterdam</div>

      </ion-card>
    </ion-slide>
</ion-slides> 

<ion-grid>
    <ion-row>
      <ion-col><h3>Top Teachers</h3></ion-col>
    </ion-row>
</ion-grid>

<ion-slides [slidesPerView]="4">
    <ion-slide>
      
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-8>
              <ion-item class="item-avatar"><ion-avatar item-start><img src="../../assets/img/card-sf.png"/></ion-avatar></ion-item>
              <div class="card-title-avatar">Mr.1</div>
              <div class="card-subtitle-avatar">72 Listings</div>              
            </ion-col>
            <ion-col col-2></ion-col>
        </ion-row>
      
    </ion-slide>
    <ion-slide>
 
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-8>
              <ion-item class="item-avatar"><ion-avatar item-start><img src="../../assets/img/card-madison.png"/></ion-avatar></ion-item>
              <div class="card-title-avatar">Mr.2</div>
              <div class="card-subtitle-avatar">72 Listings</div>              
            </ion-col>
            <ion-col col-2></ion-col>
        </ion-row>
     
    </ion-slide>    
    <ion-slide>
 
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-8>
              <ion-item class="item-avatar"><ion-avatar item-start><img src="../../assets/img/card-saopaolo.png"/></ion-avatar></ion-item>
              <div class="card-title-avatar">Mr.3</div>
              <div class="card-subtitle-avatar">72 Listings</div>              
            </ion-col>
            <ion-col col-2></ion-col>
        </ion-row>
  
    </ion-slide>   
    <ion-slide>
      
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-8>
              <ion-item class="item-avatar"><ion-avatar item-start><img src="../../assets/img/card-amsterdam.png"/></ion-avatar></ion-item>
              <div class="card-title-avatar">Mr.4</div>
              <div class="card-subtitle-avatar">72 Listings</div>              
            </ion-col>
            <ion-col col-2></ion-col>
        </ion-row>
      
    </ion-slide>   
</ion-slides> 

</ion-content>
