// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.title{
    text-align:center;
}
.bg-style {
    background: rgba(240,120,56,1);
    background: -moz-linear-gradient(top, rgba(240,120,56,1) 0%, rgba(252,184,138,1) 37%, rgba(250,210,168,1) 54%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,120,56,1)), color-stop(37%, rgba(252,184,138,1)), color-stop(54%, rgba(250,210,168,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(240,120,56,1) 0%, rgba(252,184,138,1) 37%, rgba(250,210,168,1) 54%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(240,120,56,1) 0%, rgba(252,184,138,1) 37%, rgba(250,210,168,1) 54%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(240,120,56,1) 0%, rgba(252,184,138,1) 37%, rgba(250,210,168,1) 54%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(240,120,56,1) 0%, rgba(252,184,138,1) 37%, rgba(250,210,168,1) 54%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f07838', endColorstr='#ffffff', GradientType=0 );
}    
p,h1,h2,h3{
    color: #000000;
}
